{% extends "layout.html" %}
{% block content %}
<h2> somthing important or somthing else like that ig bro its pretty good in da displays display displaysing displaysersingza tables </h2>
  <table>
    <tr>
      <th>Full name</th>
      <th>Distance</th>
      <th>Age group</th>
      <th>Year</th>
      <th>Record</th>
    </tr>
  {% for records in record %}
    <tr>
      <td>{{records[4]}}</td>
      <td>{{records[2]}}</td>
      <td>{{records[3]}}</td>
      <td>{{records[1]}}</td>
      <td>{{records[5]}}</td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}